@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e6e6ff;
  background: #ffffff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.aniatedButton {
  animation-duration: 10000ms;
}

.ql-editor {
  min-height: 200px; /* Minimum height */
  height: 100%; /* Flexible height */
  overflow-y: auto; /* Enable scrolling */
}
